# Node modules and NPM cache
node_modules
.npm

# Test coverage files
coverage

# VSCode configuration
.vscode

# Environment file
.env

# Temporary files
tmp

# Database storage
data

# Shell history (generated when using "docker exec")
.ash_history